.header{
    
}
.header>p{
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
    
}
.header>p>span{
    background-color: aqua;
}
.menu{
    display: inline-block;
    background-image: url(css_sprites_menu.png);
    margin-top: 40px;
    margin-left: 76vw;
    width: 49px;
    height: 50px;
}
.menu:hover{
    display: inline-block;
    background-image: url(css_sprites_menu.png);
    margin-left: 76vw;
    width: 49px;
    height: 50px;
    background-position: 50px 50px;
}
.menu p{
    font-family: sans-serif;
    font-weight: 800;
    display: block;
    width: 5.3vw;
    font-size: 0.9em;
    margin-left: -56.6vw;
    border: 4px solid;
    text-align: center;
    line-height: 2;
    margin-top: 3px;
   
    
}
.gluss{
    margin-left: 80vw;
}
.gluss img{
    width: 80px;
    height: 80px;
}